<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-classic-movies-00-index-new-1591823486.jpg?crop=1.00xw:1.00xh;0,0&resize=640:*);">
  <div class="container">
    <h1>Create your own WatchList!</h1>
    <p>Add as many lists and bookmarks as you want!</p>
  </div>
</div>
