<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner.jpg') %>);">
  <div class="container">
    <h1>Create your own WatchList!</h1>
    <p>Add as many lists and bookmarks as you want!</p>
  </div>
</div>
