<div class="container text-center">
  <header class="my-3">
      <h1>WatchList</h1>
  </header>

  <%# MOVIE LIST %>
  <div class="d-flex justify-content-center mb-5 mt-5">
    <% @lists.each do |list| %>
      <div class="card mx-3" style="width: 18rem;">
        <%= cl_image_tag list.photo.key, class:"card-img-top img-thumbnail img", alt:"Card image cap", height: 300, width: 400, crop: :fill %>
        <div class="card-body">
          <%= link_to list.name, list_path(list) %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'add list', new_list_path %>

</div>
