<header>
    <h1>WatchList</h1>
</header>

<%# MOVIE LIST %>
    <% @lists.each do |list| %>
        <div class="card" style="width: 18rem;">
  <%= cl_image_tag list.photo.key, class:"card-img-top img-thumbnail img", alt:"Card image cap", height: 300, width: 400, crop: :fill %>
  <div class="card-body">
        <%= link_to list.name, list_path(list) %>
  </div>
</div>
    <% end %>


      <%= link_to 'add list', new_list_path %>
