@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Poppins:wght@200;400;700&family=Source+Sans+Pro:wght@200&family=Special+Elite&display=swap');


h1, h2, h3, h4{
  color: #3a3939;
  font-family: 'Cormorant SC', serif;

}

.title{
  font-size: 2em;
  font-weight: 700;
  color: white;
}

.header{
  background-color: #3a3939;
  width: 600px;
  margin: auto;
  text-align: center;
}

.font-work{
  font-family: "work sans"  !important;
}
